HOST=0.0.0.0
PORT=3000
NODE_ENV=development
APP_NAME=AdonisJs
APP_URL=http://${HOST}:${PORT}
CACHE_VIEWS=false
APP_KEY=QAT0LbG5voUEhfwkbVVV9o10l7UYR6P4
DB_CONNECTION=mysql
DB_HOST=mysql669.umbler.com
DB_PORT=3306
DB_USER=adonis_user
DB_PASSWORD=Mvb}k#y24X
DB_DATABASE=adonis_db
HASH_DRIVER=bcrypt
